
/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: 'Open Sans', Arial, sans-serif;
}
@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  width: 100%; 
  height: 100%; 
  background: linear-gradient(to top, rgba(255,255,255,0.33),
  rgba(255,255,255,0.66)), url('../img/30.jpg') left;
}

/*.sidebar::after {
  content: "";
  
  background-repeat:no-repeat;
  background-position: center center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

}*/   


/**/
/* Sidebar links */
.sidebar a {
  color: #000;
}

/* About section */
.sidebar-about {
  margin-top: 2em;
}

.sidebar-about h1 {
  color: #000;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.25rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

.sidebar-foot {
  color:#000;
  font-weight: 600
}



.name-prefix {
  font-size: 1rem;
  margin-top: -0.8rem;
  text-align: center;
  position: absolute;
  font-weight: 600;
  /*padding-top: 4rem;*/
  /*THIS NEEDS MOVED DOWN & RIGHT*/
}


/* Content
 *
 * Where the articles and inner content live.
 * 
 */
.content {
  padding-top:    1rem;
  padding-bottom: 0rem;
  background-color: #fff;
}

.foot {
  font-size: 0.9rem;
  font-weight: normal;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up. This appends
 * once the width is > 48em
 */


@media (min-width:48em) {
  .sidebar-sticky {
    
  }

  .content {
    padding-top: 3rem;
    max-width: 30rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

@media (max-width: 450px) {
  .post, .page {
    padding-top: 1rem;
  }

}



/*Inner Nav*/

.nav {
  margin:0;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  width:100%;
  height:50px;
  top:0px;
  font-family: 'Open Sans', sans-serif;
}
.nav ul {
  margin: 0;
  padding-top: 0.75rem;
  padding-left: 0;
}
.nav li {
  margin: 0 10px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.nav a {
  padding: 3px 12px;
  text-decoration: none;
  color: #777;
  line-height: 100%;
}
.nav a:hover {
  color: #000;
  background-color: #eee;
  text-decoration: none;
}
.nav .current a {
  background: #999;
  color: #fff;
  border-radius: 5px;
}

@media screen and (max-width: 48em) {
  .nav {
    position: relative;
    top:0;
  }
  .nav ul {
    padding-top: 0.4rem;
  }
}

.portrait {
  height: 7rem;
  width: auto;
  margin: 2rem 0 2rem 0;

}



