<div class="sidebar" id="transparent">
    <div class="container sidebar-sticky">
        
        <div class="sidebar-about">
                
          
          <div class="name">
            
            <h1>
                <span class="name-prefix">
            &nbsp;&nbsp;Hi, I'm
            </span>
                Andrew
            </h1>

          </div>
            <div class="sidebar-foot">
                <p class=""><strong>{{ site.description }}</strong></p>
                <hr/>
                <p class=""><b>{{ site.quote }}</b></p>
            </div>
        </div>
    </div>
</div>
