<div class="sidebar" id="transparent">
    <div class="container sidebar-sticky">
        
        <div class="sidebar-about">
            <h1>
                <a href="{{ site.baseurl }}">
                  <strong>{{ site.title }}</strong>
                </a>
            </h1>
            <p class="lead"><strong>{{ site.description }}</strong></p>
            <hr/>
            <p class=""><b>{{ site.quote }}</b></p>
            <p class="sidebar-foot">v{{ site.version }}</p>
        </div>
    </div>
</div>
