<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="">

    {% include sidebar.html %}

    <div class="content container">
        <nav class="nav">
            <ul> 
                <li><a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a></li>
                <li><a class="sidebar-nav-item" href="/blog">Blog</a></li>
                <li><a class="sidebar-nav-item" href="/{{ site.author.resume }}" target="_blank">Resume</a></li>
                <li><a class="sidebar-nav-item" href="{{ site.github.repo }}" target="_blank">GitHub &amp; Repo</a></li>
            </ul>
        </nav>
        {{ content }}
    </div>

  </body>
</html>
