/*general page styling*/
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

#container {
    position: absolute;
    padding-top: 10%;
    padding-left: 10%;
}

/*Writing styles*/
h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

p, a {
    font-family: 'Merriweather', serif;
    opacity: 0.7;
    color: white;
    font-size: 105%;
    font-weight: bolder;
}

hr ~ a:hover {
    opacity: 1.0;
    color: white;
    text-decoration: none;
}

a:visited {
     text-decoration: none;
     color: white;
}

hr {
    background-color: limegreen;
    border-color: limegreen;
}

/**/
#one:hover {
    color: red;
}
#two:hover {
    color: orange;
}
#three:hover {
    color: yellow;
}
#four:hover {
    color: green;
}
#five:hover {
    color: blue;
}
#six:hover {
    color: darkorchid;
}
#seven:hover {
    color: violet;
}


