/*general page styling*/
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

#container {
    position: absolute;
    padding-top: 10%;
    padding-left: 5%;
}

/*Writing styles*/
h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

p, a {
    font-family: 'Merriweather', serif;
    opacity: 0.7;
    color: white;
    font-size: 105%;
    font-weight: bolder;
}

hr ~ a:hover {
    opacity: 1.0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: white 0.4s ease 0.4s;
    -webkit-transition: white 0.4s ease 0.4s;
}

a:visited {
    opacity: 0.7;
    color: white;
    font-size: 105%;
    font-weight: bolder;
    text-decoration: none;
}

/*specifics*/
span:hover {
    cursor: pointer;   
}
#one:hover {
    color: red;
}
#two:hover {
    color: orange;
}
#three:hover {
    color: yellow;
}
#four:hover {
    color: green;
}
#five:hover {
    color: blue;
}
#six:hover {
    color: darkorchid;
}
#seven:hover {
    color: violet;
}

hr {
    padding: 0;
    border: none;
    border-top: thin ridge limegreen;
    color: limegreen;
    text-align: center;
    padding-bottom: 0;
}
hr:after {
    content: '\222B';
    display: inline-block;
    position: relative;
    top: -0.45em;
    font-size: 1.5em;
    font-family: 'Times';
    padding: 0 0.25em;
    background: black;
}

